@font-face {
    font-family: 'Saira Condensed';
    src: url('res/fonts/Saira_Condensed-Medium.ttf') format('truetype');
}

.container {
    display: flex;
    flex-direction: c;
    height: 100vh;
    overflow: hidden;
}

.history-sidebar {
    width: 20%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #1D1A20;
    border-right: 2px solid #444;
    display: flex;
    flex-direction: column;
    flex: 0 0 20%;
    overflow-y: auto;
    z-index: 1000;
    position: relative;
    scrollbar-color: #F1F2F4 #1D1A20;
    scrollbar-width: thin;
}

.sidebar-header {
    padding: 10px;
    border-bottom: 1px solid #444;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #1D1A20;
    color: #F1F2F4;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 80%;
    overflow: hidden;
    height: auto;
}


.right-sidebar {
    flex: 0 0 40%;
    background-color: #1D1A20;
    overflow-y: auto;
    height: 100%;
    width: 80%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .history-sidebar {
        position: absolute;
        z-index: 1000;
        height: 100vh;
    }

    .history-sidebar.hidden {
        transform: translateX(-100%);
    }

    .main-content,
    .right-sidebar {
        flex: 1 1 auto;
    }

    .chart-container {
        height: 100vh;
    }
}

h1 {
    margin: 0;
    font-size: 2rem;
    text-align: center;
}

input#pointsInput {
    width: 10ch;
    text-align: center;
    font-size: 1.2rem;
    padding: 5px;
    margin: 20px 0;
    font-family: 'Saira Condensed', sans-serif;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

button.btn-custom {
    background-color: #444;
    color: #F1F2F4;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button.btn-custom:hover {
    background-color: #555;
}
.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.columns {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.column {
    width: 30%;
    text-align: center;
}

.header {
    background-color: #29272B;
    padding: 10px 20px;
    min-height: 5vh;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    border-bottom: 2px solid #444;
}

.footer {
    background-color: #29272B;
    font-size: xx-small;
    padding: 10px 20px;
    min-height: 1vh;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    border-bottom: 2px solid #444;
}

.header .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-height: 50px;
}

.history-log {
    padding: 10px;
    overflow-y: auto;
    flex-grow: 1;
}

.history-entry {
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 1px solid #444;
}

body {
    margin: 0;
    font-family: 'Saira Condensed', sans-serif;
    background-color: #1D1A20;
    color: #F1F2F4;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header img {
    max-height: 50px;
}

.header img {
    max-height: 50px;
}
.chart-container {
    justify-content: center;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
}

canvas {
    width: 100%;
    height: 100%;
}